<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<% include ../partials/functions %>

<body id="page-top">

    <% include ../partials/navigation %>

    <!-- Services -->
    <section class="content-section img-bg text-white" id="services">
        <div class="container">
            <div class="content">
                <h2 class="text-secondary mb-5">Number Bet (Ropsten)</h2>
            </div>
            <div class="content-section-heading">
                <h3 class="mb-3">Contract Address &ensp;<a id="contractLink" href="https://ropsten.etherscan.io/address/<%= options._id %>"
                        target="_blank"><%= options._id %></a></h3>
            </div>
            <div class="row text-center">

                <div class="container">
                    <div class="row">
                        <div class="mh-project-gallery col-sm-12">
                            <div class="row">
                                <% for(let i = 0; i< tables.length; i++){%>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12">
                                    <figure>
                                        <% if (isPending(tables[i].pendingTime, tables[i].recentTime)) {%>
                                            <input type="hidden" id="table-pending-<%= tables[i]._id %>" value="true">
                                            <span class="service-icon mx-auto" id="table-front-<%= tables[i]._id %>">Pending</span>
                                        <%} else {%>
                                            <input type="hidden" id="table-pending-<%= tables[i]._id %>" value="false">
                                            <% if (tables[i].status == 'full') {%>
                                                <span class="service-icon mx-auto" id="table-front-<%= tables[i]._id %>">Full Table</span>
                                            <%} else if(tables[i].status == 'half') {%>
                                                <span class="service-icon mx-auto" id="table-front-<%= tables[i]._id %>">Bet on <%= toEth(tables[i].deposit / options.maxCase) %> ETH</span>
                                            <%} else {%>
                                                <span class="service-icon mx-auto" id="table-front-<%= tables[i]._id %>">Empty Table</span>
                                            <%}%>
                                        <%}%>
                                        <figcaption class="fig-caption">
                                            <div class="numberCircle">
                                                <%= tables[i]._id %>
                                            </div>
                                            <% if (isPending(tables[i].pendingTime, tables[i].recentTime)) {%>
                                                <h5 class="title" id="table-back-<%= tables[i]._id %>">Check Txid</h5>
                                            <%} else {%>
                                                <% if (tables[i].status == 'full') {%>
                                                    <h5 class="title" id="table-back-<%= tables[i]._id %>">Finalize Bet</h5>
                                                <%} else if(tables[i].status == 'half') {%>
                                                    <h5 class="title" id="table-back-<%= tables[i]._id %>">Join The Bet</h5>
                                                <%} else {%>
                                                    <h5 class="title" id="table-back-<%= tables[i]._id %>">Make a Bet</h5>
                                                <%}%>
                                            <%}%>
                                            <span class="sub-title"></span>
                                            <a data-fancybox data-src="#mh"
                                                onclick="popup(<%= tables[i]._id %>)"></a>
                                        </figcaption>
                                    </figure>
                                    <span id='table-data-<%= tables[i]._id %>' style="display:none"><%= JSON.stringify(tables[i]) %></span>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mh-portfolio-modal" id="mh">
            <div class="container">
                <div class="row mh-portfolio-modal-inner">
                    <div class="col-md-10">
                        <div class="price-box">

                            <div class="popup-full" style="display:none">
                                <h2>Table At <span class="modalTableIndex"></span></h2>
                                <h5>Maker</h5> <a id="bet-maker-full"></a>
                                <h5>Taker</h5> <a id="bet-taker-full"></a>
                                <h5>Payout on Win</h5> <span id="bet-stake-full"></span> ETH
                                <h5>Taker's Prediction</h5> 
                                <span class="btn btn-info" id="bet-taker-number" ></span>
                                <h5>Time Left for Maker to reveal the Number</h5> 
                                <span class="btn btn-danger" id="bet-time-left"></span>
                                <input type="hidden" id="timer" value=0>
                                <h5></h5>
                                <div class="form-horizontal form-pricing" role="form">
                                    <h5>Maker's Real Number</h5> 
                                    <div class="betOptionBox">
                                        <div class="input-group" id="numSelector">
                                        <% for(let i = 0; i< options.maxCase; i++){%>
                                            <% if (i == 0) {%>
                                                <a class="btn btn-info" data-toggle="numberButton-full" data-title="<%= i%>"><%= i%></a>
                                            <%} else {%>
                                                <a class="btn btn-info notActive" data-toggle="numberButton-full" data-title="<%= i%>"><%= i%></a>
                                            <%}%>
                                        <%}%>
                                        <input type="hidden" id="numberButton-full" value="0">
                                        </div>
                                    </div>
                                    <h5>Word for Salted Hash</h5>
                                    <div class="betOptionBox">
                                        <input type="text" class="form-control" id="salt-word" placeholder="Type Your Word" required>
                                    </div>

                                    <h5></h5>
                                    <div class="col-sm-12 finalize-button">
                                        <button class="btn btn-info btn-block">Reveal Number </button>
                                    </div>
                                    <div class="col-sm-12 unearned-button">
                                        <button class="btn btn-warning btn-block">Acquire Unearnd Bet </button>
                                    </div>
                                </div>
                            </div>

                            <div class="popup-half" style="display:none">
                                <div class="form-horizontal form-pricing" role="form">
                                    <h2>Table At <span class="modalTableIndex"></span></h2>
                                    <h5>Maker</h5> <a id="bet-maker-half"></a>
                                    <h5>Payout on Win</h5> <span id="bet-stake-half"></span> ETH
                                    <h5>Predict the Number</h5>
                                    <div class="betOptionBox">
                                        <div class="input-group" id="numSelector">
                                        <% for(let i = 0; i< options.maxCase; i++){%>
                                            <% if (i == 0) {%>
                                                <a class="btn btn-info" data-toggle="numberButton-half" data-title="<%= i%>"><%= i%></a>
                                            <%} else {%>
                                                <a class="btn btn-info notActive" data-toggle="numberButton-half" data-title="<%= i%>"><%= i%></a>
                                            <%}%>
                                        <%}%>
                                        <input type="hidden" id="numberButton-half" value="0">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 join-button">
                                        <button class="btn btn-primary btn-lg btn-block">Join the Bet </button>
                                    </div>
                                    <div class="col-sm-12 cancel-button">
                                        <button class="btn btn-danger btn-block">Cancel Bet </button>
                                    </div>
                                </div>
                            </div>

                            <div class="popup-pending" style="display:none">
                                <h2>Table At <span class="modalTableIndex"></span></h2>
                                <h5>Wait for Pending Transaction</h5> <a id="bet-recentTx"></a>
                            </div>

                            <div class="popup-empty" style="display:none">
                                <div class="form-horizontal form-pricing" role="form">
                            
                                    <h2>Table At <span class="modalTableIndex"></span></h2>
                                    <h5>Number to Hide</h5>
                                    <div class="betOptionBox">
                                        <div class="input-group" id="numSelector">
                                        <% for(let i = 0; i< options.maxCase; i++){%>
                                            <% if (i == 0) {%>
                                                <a class="btn btn-info" data-toggle="numberButton" data-title="<%= i%>"><%= i%></a>
                                            <%} else {%>
                                                <a class="btn btn-info notActive" data-toggle="numberButton" data-title="<%= i%>"><%= i%></a>
                                            <%}%>
                                        <%}%>
                                        <input type="hidden" id="numberButton" value="0">
                                        </div>
                                    </div>
                                    <h5>Payout on Win</h5>
                                    <span id="amount-label"></span> ETH
                                    <div class="price-slider">
                                        <span>Minimum 0.01 ETH is required</span>
                                    </div>
                                    <div class="price-slider">
                                        <div class="col-sm-12">
                                            <div id="slider"></div>
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-6">
                                        <input type="hidden" id="amount" class="form-control">
                                        Deposit: <span id="deposit-label"></span> ETH
                                    </div>
                            
                                    <h5>Revealing Duration</h5>
                                    <div class=" custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="durationRadio1" name="durationRadio" value="900" checked="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="durationRadio1">15 min</label>
                                    </div>
                                    <div class=" custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="durationRadio2" name="durationRadio" value="1800" class="custom-control-input">
                                        <label class="custom-control-label" for="durationRadio2">30 min</label>
                                    </div>
                                    <div class=" custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="durationRadio3" name="durationRadio" value="3600" class="custom-control-input">
                                        <label class="custom-control-label" for="durationRadio3">1 hr</label>
                                    </div>
    
                                    <h5>Word for Salted Hash</h5>
                                    <div class="betOptionBox">
                                        <input type="text" class="form-control" id="saltWord" placeholder="ex) apple" required>
                                        <span id="hashedNum"></span>
                                    </div>
    
                                    <div class="col-sm-12 make-button">
                                        <button class="btn btn-primary btn-lg btn-block">Make a Bet </button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="modalTableIndex" value="">

                        </div>
                        <div class="col-sm-3 metamask-image">
                            <a href="https://metamask.io/" target="_blank">
                                <img src="/images/metamask-logo.jpg">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="userAddr" value="Guest">
    <input type="hidden" id="contractAddr" value="<%= options._id %>">
    <input type="hidden" id="contractAbi" value="<%= abi %>">
    <input type="hidden" id="maxCase" value="<%= options.maxCase %>">


    <% include ../partials/chat %>

    </section>

    <% include ../partials/footer %>
    <script src="/javascripts/numberbet.js"></script>
    <script src="/javascripts/numberbet-client.js"></script>
    <script src="/javascripts/crypto-js.min.js"></script>
</body>

</html>